.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.swp
*.swo
*~
*.bak
*.tmp
*.temp
*.log

.vscode/
.idea/
*.code-workspace

dist/
build/
out/

*.FCStd1
*.FCBak

*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_pro-bak
*.kicad_prl

*.gcode
